<div class="wrapper">
    <!-- Navbar -->
    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Left navbar links -->
        {% if page.primary_menu %}
                {{ page.primary_menu }}
        <!-- /primary-menu-wrapper -->
        {% endif %}<!-- end if for page.primary_menu -->
        {{ page.search_box }}
    </nav>

    <aside class="main-sidebar sidebar-dark-primary elevation-4">
        {{ page.site_branding }}

        <!-- Sidebar -->
        <div class="sidebar">
            <!-- Sidebar user panel (optional) -->
            <div class="user-panel mt-3 pb-3 mb-3 d-flex">
                <div class="image">
                    <img src="{{ avatar }}" class="img-circle elevation-2" alt="User Image">
                </div>
                <div class="info">
                    <a href="#" class="d-block">{{ full_name.value }}</a>
                </div>
            </div>

            <!-- Sidebar Menu -->
            <nav class="mt-2">
                {{ page.left_menu }}
                   
            </nav>
            <!-- /.sidebar-menu -->
        </div>
        <!-- /.sidebar -->
    </aside>

</div>

